<h1>Demo#index</h1>
<p>Hello Index!</p>

<a href="/demo/hello">Hello page 1</a>
<br>
<%= link_to('Hello Page 2', {:controller=>'demo', :action => 'hello'})%>
<br>
<%= link_to('Hellowith Para', {:controller=>'demo', :action => 'hello', :page => 3, :id =>20, :query => "thisstuff"})%>
<br />

<%# name = "Claudius"%>
<% name = "Sorry!'); alert('I hacked you!"%>

<%= link_to('Roar', '#', :onclick => "jsRoar('#{j(name)}'); return true;") %>

<%#= link_to('Roar', '#', :onclick => "jsRoar('Javascript'); return true;") %>

<%#= javascript_tag("jsRoar('Rails');")%>
<%= javascript_tag("jsRoar('#{j(name)}');")%>


